.categories_navigation {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background: rgba(113, 123, 123, 0.3);
    box-shadow: 0px 0px 6px 1px #989898;

    .categories_wrapper {
        color: #4b7079;
        margin-top: 1px;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            padding: 5px;
            border-top: solid 1px #d8d8d8;
            cursor: pointer;
            margin-top: 2px;
            background: #fff;

            &:first-child {
                border: none;
            }

            &.highlight {
                background: #5ec0d8;
                color: #fff;
                position: relative;
            }

            &:hover {
                background: #5ec0d8;
                color: #fff;
            }
        }
    }

    .manage_location {
        position: absolute;
        right: -113px;
        width: 100px;
        top: -30px;
        color: #4b7079;
        border-radius: 10px;
        animation-name: lefToRight;
        animation-duration: .3s;
        box-shadow: 0px 0px 13px 0px #989898;
        background: rgba(113, 123, 123, 0.5);

        ul {
            display: flex;
            flex-direction: column;

            &:before {
                content: '';
                position: absolute;
                left: -10px;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-right: 10px solid #fff;
            }

            li {
                flex-grow: 1;
            }
        }
    }
}

@keyframes lefToRight {
    from {
        opacity: 0;
        right: 0;
    }

    to {
        opacity: 1;
        right: -113px;
    }
}